.list {
	&__name {
		text-decoration: none;
	}
	&__text {
		text-decoration: none;
	}
}
.characterList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
