@import 'variables.scss';
.form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;

	&__header {
		margin-bottom: 20px;
		margin-top: 20px;
		color: $green-light;
		font-family: $font-main;
		font-size: 20px;
	}
	&__radio {
		display: flex;
		color: $green-light;
		font-family: $font-main;
		&-input {
			&:checked {
				background: $blue-color;
				box-shadow: 0px 0px 50px 20px $green-dark;
			}
		}
	}
	&__input {
		height: 25px;
		border: solid $green-dark 2px;
		border-radius: 10px;
		background: black;
		color: $green-light;
		font-size: 20px;
		box-sizing: content-box;
		&:hover {
			border: solid 3px $blue-color;
			font-weight: bold;
			color: $blue-color;
			box-shadow: 0 5px 15px $green-dark;
		}
		&:not(:placeholder-shown) {
			border: solid 3px $green-dark;
			font-weight: bold;
			color: $blue-color;
			box-shadow: 0px 0px 50px 20px $green-dark;
		}
	}
}
